.comparison-view {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: absolute;
  width: 100%;
}

.comparison-content {
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}
