.comparison-view {
  position: relative;
  width: 100%;
  padding: 0.9rem 1rem 0.4rem;
  max-width: 1440px;
  min-width: 1000px;
  margin: 0 auto;
}

.comparison__product--close {
  display: block;
  padding: 0 0 0.13rem 0.14rem;
  width: 100%;
  text-align: left;

  .close-icon {
    cursor: pointer;
    color: $colour-neutral-grey-500;
  }
}

.comparison-header {
  position: relative;
  width: 100%;
  padding: 0;

  .comparison-header__title {
    display: block;
    font-weight: $font-weight-bold;
    font-size: 0.3rem;
    line-height: 0.48rem;
    color: $colour-neutral-grey-900;
    margin: 0 0 0.2rem;
    text-align: left;
  }

  .comparison-header__control {
    position: relative;
    text-align: left;
    margin: 0 0 0.26rem;

    .comparison__return-btn {
      &:deep(.btn__inner) {
        padding: 0 0.3rem 0 0.2rem;
        background-color: $colour-neutral-grey-100;
        color: $colour-neutral-grey-900;
        border-color: $colour-neutral-grey-100;
      }

      &:hover {
        &:deep(.btn__inner) {
          background-color: $colour-neutral-grey-200;
          border-color: $colour-neutral-grey-200;
        }
      }
    }
  }
}

.comparison-content {
  position: relative;
  width: 100%;
  padding: 0 0 1.2rem;
}

.comparison__list {
  position: relative;
  display: block;
}

.comparison__list--head {
  position: sticky;
  top: 0;
  display: block;
  padding: 0.4rem 0 0;
  background-color: $colour-neutral-white;
  z-index: 4;

  .comparison__list--head__inner {
    position: relative;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.comparison__list--content {
  position: relative;
  display: block;

  &.fixHeader {
    padding-top: 200px;
  }

  .comparison__list--content__inner {
    position: relative;
    display: block;
  }
}

.comparison__product {
  position: relative;
  display: block;
  margin: 0 0.35rem 0 0;
  width: calc((100% - 1.4rem) / 5);
  min-width: 220px;

  &:last-child {
    margin-right: 0;
  }
}
