@import '../variables/functions';
@import '../variables/colour';
@import '../variables/design-tokens';
@import '../variables/font';

$sourceNotoIkeaLatin: 'Noto Ikea Latin', 'Noto Sans', 'Roboto', 'Open Sans', -apple-system, sans-serif !important;
$text-normal: #111;
$activeColor: #0058a3;
$border-color: #f5f5f5;
$popup-bg: rgba(0, 0, 0, 0.4);
